<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AuditionMapper">
<cache />
	<!-- 여기저기서 편하게 쓰려고 -->
	<sql id="basecolumn">
		audition_seq, audition_num, employee_num, audition_startdate, audition_enddate, audition_gather, audition_passed, 
		audition_type, audition_title, audition_content, audition_upload_date 
	</sql>
	
	<!-- select할 때 쓰는 문구 -->
	<resultMap type="Model.DTO.AuditionDTO" id="baseAud">
	    <!-- 
	    	MemberDTO memDTO = new MemberDTO();
	    	memDTO.setUserId(rs.gertString("USER_ID"));
	     -->
	    <id column="AUDITION_SEQ" jdbcType="INTEGER" property="auditionSeq" />
		<result column="AUDITION_NUM" jdbcType="INTEGER" property="auditionNo"/>
		<result column="EMPLOYEE_NUM" jdbcType="VARCHAR" property="employeeNum"/>
		<result column="AUDITION_STARTDATE" jdbcType = "VARCHAR" property="startDate"/>
		<result column="AUDITION_ENDDATE" jdbcType="VARCHAR" property="endDate"/>
		<result column="AUDITION_GATHER" jdbcType="INTEGER" property="gather"/>
		<result column="AUDITION_PASSED" jdbcType="INTEGER" property="passed"/>
		<result column="AUDITION_TYPE" jdbcType="VARCHAR" property="type"/>
		<result column="AUDITION_TITLE" jdbcType="VARCHAR" property="title"/>
		<result column="AUDITION_CONTENT" jdbcType="VARCHAR" property="content"/>
		<result column="AUDITION_UPLOAD_DATE" jdbcType="TIMESTAMP" property="uploadDate"/>
	</resultMap>
	
	<insert id="insertAudition" >
		insert into AUDITION( <include refid="basecolumn" /> ) 
		values( audition_seq.nextval, #{auditionNo},#{employeeNum},#{startDate},#{endDate},
				#{gather},#{passed},#{type},#{title},
				#{content},sysdate )
	</insert>
	
	<select parameterType="Model.DTO.AuditionDTO" resultMap="baseAud" id="selectAuditions">
		select <include refid="basecolumn" /> from audition
	</select>
	
	
	
	

</mapper>