<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ContractorMapper">
<cache />

<!-- contractor -->
<sql id="basecolumn">
	contractor_ID , contractor_pw ,contractor_name ,contractor_gender ,contractor_birth,
	contractor_phone, contractor_addr , participant_num , contractor_level
</sql>

<!-- contracts -->
<sql id="basecolumn2">
	CONTRACT_NUM, CONTRACT_TYPE, CONTRACTOR_NAME, CONTRACT_STARTDATE, CONTRACT_ENDDATE, EMPLOYEE_NUM, CONTRACTOR_ID, SIGNATURE, CONTRACT_REGDATE
</sql>

<!-- contractorMeasure -->
<sql id="basecolumn3">
	contractor_ID, con_measure_date, standard_height, con_measure_weight, con_measure_meta,  standard_gender
</sql>

<insert id="insertContractor" parameterType="Model.DTO.ContractorDTO">
	insert into CONTRACTORS
	values(#{contractorId}, #{contractorPw}, #{contractorName}, #{contractorGender}, #{contractorBirth}, 
	#{contractorPhone}, #{contractorAddr}, #{participantNum}, #{contractorLevel})
</insert>



<resultMap type="Model.DTO.ContractorDTO" id="conMap">
	    <id column="contractor_ID" jdbcType="VARCHAR" property="contractorId" />
		<result column="contractor_pw" jdbcType="VARCHAR" property="contractorPw"/>
		<result column="contractor_name" jdbcType="VARCHAR" property="contractorName"/>
		<result column="contractor_gender" jdbcType = "VARCHAR" property="contractorGender"/>
		<result column="contractor_birth" jdbcType="VARCHAR" property="contractorBirth"/>
		<result column="contractor_phone" jdbcType="VARCHAR" property="contractorPhone"/>
		<result column="contractor_addr" jdbcType="VARCHAR" property="contractorAddr"/>		
		<result column="participant_num" jdbcType="VARCHAR" property="participantNum"/>		
		<result column="contractor_level" jdbcType="INTEGER" property="contractorLevel"/>
</resultMap>

<resultMap type="Model.DTO.ContractsDTO" id="contractMap">
	    <id column="CONTRACT_NUM" jdbcType="VARCHAR" property="contractNum" />
		<result column="CONTRACT_TYPE" jdbcType="VARCHAR" property="contractType"/>
		<result column="CONTRACTOR_NAME" jdbcType="VARCHAR" property="contractorName"/>
		<result column="CONTRACT_STARTDATE" jdbcType = "VARCHAR" property="contractStartDate"/>
		<result column="CONTRACT_ENDDATE" jdbcType="VARCHAR" property="contractEndDate"/>
		<result column="EMPLOYEE_NUM" jdbcType="VARCHAR" property="employeeId"/>
		<result column="CONTRACTOR_ID" jdbcType="VARCHAR" property="contractorId"/>		
		<result column="SIGNATURE" jdbcType="CLOB" property="signature"/>		
		<result column="CONTRACT_REGDATE" jdbcType="TIMESTAMP" property="contractRegDate"/>
</resultMap>

<resultMap type="Model.DTO.BodyProfileDTO" id="measureMap">
	    <id column="contractor_ID" jdbcType="VARCHAR" property="contractorId" />
		<id column="con_measure_date" jdbcType="VARCHAR" property="measureDate"/>
		<result column="con_measure_weight" jdbcType="INTEGER" property="weight"/>
		<result column="con_measure_meta" jdbcType = "INTEGER" property="metabolism"/>
		<result column="standard_height" jdbcType="INTEGER" property="height"/>
		<result column="standard_gender" jdbcType="VARCHAR" property="gender"/>
		<result column="mdate" jdbcType="DATE" property="mDate"/>
</resultMap>


<!-- 계약자 상세보기 -->
<select id="selectOneContractor" resultMap="conMap">
	select <include refid="basecolumn" />
	from CONTRACTORS
	where contractor_ID = #{contractorId}
</select>

<!-- 계약자리스트 불러오기 -->
<select id="selectAllContractors" resultMap="conMap">
	select <include refid="basecolumn" />
	from CONTRACTORS
</select>

<!-- contractor 계정으로 로그인하고 해당 계약자의 계약서 리스트 불러오기 -->
<select id="selectMyContracts" resultMap="contractMap">
	select <include refid="basecolumn2" />
	from Contracts
	where contractor_id = #{contractorId}
</select>


<insert id="registerBodyProfile" parameterType="Model.DTO.BodyProfileDTO">
	insert into CON_MEASURE(<include refid="basecolumn3" />)
	values(#{contractorId}, #{measureDate}, #{height}, #{weight}, #{metabolism}, #{gender})
</insert>

<!-- contractor의 신체계측정보 리스트 불러오기 , 날짜가 DB에서 문자열로 되어있음. 이거 날짜 이른 순으로 출력하기 위해 view에서 뭐 해볼것..fmt:formatDate태그 사용-->
<select id="selectMyProfiles" resultMap="measureMap">
	select contractor_ID, to_date(con_measure_date, 'YYYYMMDD') AS MDATE, con_measure_date,standard_height, con_measure_weight, con_measure_meta,  standard_gender
	from con_measure
	where contractor_id = #{contractorId}
	order by MDATE asc
</select>

<!-- traininglevel에 따른 계약자 출력: 연예인 -->
<select id="selectContractorsUponLevel4" resultMap="conMap">
	select <include refid="basecolumn" />
	from contractors
	where contractor_level = #{level}
</select>


<!-- traininglevel에 따른 계약자 출력: 연습생 -->
<select id="selectContractorsUponLevelElse" resultMap="conMap">
	select <include refid="basecolumn" />
	from contractors
	where contractor_level = #{level}
</select>

</mapper>