<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Employee">

	<cache/>
		<sql id="emplCol">
			employee_num, employee_name, employee_email, employee_pw, employee_ph, 
			employee_hired_yrs, employee_hiredate, employee_gender, employee_birth, 
			employee_height, employee_weight, employee_active, employee_kcal, 
			dept_num, job_type_num
		</sql>
		<resultMap type="Model.DTO.EmployeeDTO" id="emplRs">
			<id column="employee_num" jdbcType="VARCHAR" property="employeeNum" />
			<result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
			<result column="employee_email" jdbcType="VARCHAR" property="employeeEmail" />
			<result column="employee_pw" jdbcType="VARCHAR" property="employeePw" />
			<result column="employee_ph" jdbcType="VARCHAR" property="employeePh" />
			<result column="employee_hired_yrs" jdbcType="INTEGER" property="employeeHiredYrs" />
			<result column="employee_hiredate" jdbcType="VARCHAR" property="employeeHiredate" />
			<result column="employee_gender" jdbcType="VARCHAR" property="employeeGender" />
			<result column="employee_birth" jdbcType="INTEGER" property="employeeBirth" />
			<result column="employee_height" jdbcType="INTEGER" property="employeeHeight" />
			<result column="employee_weight" jdbcType="INTEGER" property="employeeWeight" />
			<result column="employee_active" jdbcType="INTEGER" property="employeeActive" />
			<result column="employee_kcal" jdbcType="VARCHAR" property="employeeKcal" />
			<result column="dept_num" jdbcType="VARCHAR" property="deptNum" />
			<result column="job_type_num" jdbcType="VARCHAR" property="jopTypeNum" />
		</resultMap>
		
		<!-- 직원 가입 시 직종 선택 -->
		<select id="employeeJopt" resultMap="emplRs">
			select job_type_num
			  from job_role
		</select>
		<!-- 직원 가입 시 부서 선택 -->
		<select id="employeeDept" resultMap="emplRs">
			select dept_num 
			  from department
		</select>
		
		<!-- 직원 로그인 -->
		<select id="employeeCheck" parameterType="Model.DTO.EmployeeDTO" resultMap="emplRs">
			select *
			  from employee e LEFT join department d 
			    on e.dept_num = d.dept_num
			 where e.employee_num = #{employeeNum}
		</select>
		
		<!-- 직원 가입 -->
		<insert id="joinEmployee" parameterType="Model.DTO.EmployeeDTO">
			insert into EMPLOYEE ( <include refid="emplCol"/> )
						  values ( #{employeeNum}, #{employeeName}, #{employeeEmail}, #{employeePw}, #{employeePh}, 
								   #{employeeHiredYrs}, #{employeeHiredate}, #{employeeGender}, #{employeeBirth}, 
								   #{employeeHeight}, #{employeeWeight}, #{employeeActive}, #{employeeKcal}, 
						  		   #{deptNum}, #{jopTypeNum} )
		</insert>
		
		
</mapper>